*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/build/outputs/apk/app-debug.apk
app/build/outputs/apk/app-debug.apk
*.class
*.txt
app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-xxxhdpi-v4.json
*.json

*.json

*.apk

*.html

*.class

*.dex
*.json
*.json
*.class
